body {
    font-size: 16px;
    font-family: 'Commissioner', sans-serif;
    position: relative;
    font-weight: 500;
    background-color: rgb(252, 252, 252);
    line-height: 2rem;
}
header {
    height: 500px;
    background-image: url(/images/image-hero-desktop.jpg);
    background-size: cover;
    background-position: center;
    margin-bottom: -100px;

    
}
.hero {
    position: absolute;
    z-index: -1;
    width: 100%;
}
main {
    max-width: 900px;
    margin: 0 auto;
}
.dark-grey {
    color: hsl(0, 0%, 48%);
}
.green {
    color: hsl(176, 50%, 47%);
}

.master {
    position: absolute;
    right: 47%;
    top: -30px;
}

.back {
    padding: 15px 40px;
    background-color: hsl(176, 50%, 47%);
    border-color: hsl(176, 50%, 47%);
}
.back:hover {
    background-color: hsl(176, 72%, 28%);
    border-color: hsl(176, 72%, 28%);
}
.book {
    background-color: rgb(241, 241, 241);
    color: grey;
    font-weight: bold;
    text-decoration: none;
    padding-right: 20px;
    border-radius: 500px;
    border: none;    
    padding: 0 20px 0 0;
}
.book:hover {
    color: hsl(176, 72%, 28%);
}

.marked {
    color: hsl(176, 72%, 28%);
}
.marked img{
    width: 55px;
}
.hide {
    display: none;
}
.show {
    display: block;
}

.barre {
    width: 680px;
    height: 15px;
    background-color: rgb(247, 247, 247);
    border-radius: 50px;
}
.barre::before {
    content: "";
    display: block;
    height: 15px;
    width: 580px;
    transform: translateX(-10px);
    border-radius: 50px;
    position: absolute;
    background-color: hsl(176, 50%, 47%);;
}

.disable {
    opacity: 50%;
}

.disable button {
    background-color: grey;
    border-color: grey;
}

.backpop {    
    top: 0vh;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.493);
    width: 100%;
    height: 100%;
}
.pop {
    max-width: 900px;
    margin: 400px auto 0 auto;
}

.circle {
    display: block;
    width: 26px;
    height: 26px;
    border-radius: 50%;
    background-color: rgba(128, 128, 128, 0.212);
    margin-top: 8px;
    
}
.circle::before {
    content: "";
    width: 20px;
    height: 20px;
    border-radius: 50%;
    display: block;
    position: absolute;
    background-color: rgb(255, 255, 255);
    transform: translate(3px, 3px);
}
.circle.select::after {
    content: "";
    width: 14px;
    height: 14px;
    border-radius: 50%;
    display: block;
    position: absolute;
    background-color: teal;
    transform: translate(6px, 6px);
}

.price {
    background-color: white;
    border-color: teal;
    width: 130px;
    margin-right: 20px;
}
.auto {
    margin-left: 0;
    margin-right: auto;
    margin-bottom: 0;
}
.pledge-name:hover{
    color: hsl(176, 50%, 47%);
}

.card {
    cursor: pointer;
}

.close {
    margin-left: 100%;
    cursor: pointer;
    opacity: 40%;
}
.close:hover{
    opacity: 100%;
}

input::placeholder {
    transform: translateX(-10px);
}
